{% extends 'base.html' %}

{% block body_class %}
    login-register-body
{% endblock %}

{% block title %}
    Login - Projeto Cantina
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <div class="wrapper">
        <form method="POST" action="{% url 'usuario_login' %}">
            <h2 class="login-title">Login</h2>
            <div class="input-box">
                <span class="icon">
                    <i class="fa-solid fa-envelope"></i>
                </span>
                <input type="text" placeholder="E-mail" required>
            </div>
            <div class="input-box">
                <span class="icon">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input type="password" placeholder="Password" required>
            </div>
            <div class="forgot-pass">
                <a href="#">Esqueci a senha...</a>
            </div>
            <button type="submit">Login</button>
            <div class="register-link">
                <p>Não tem uma conta? <a href="{% url 'usuario_cadastrar' %}">Cadastre-se!</a></p>
                <p>Deseja voltar para a Página Inicial? <a href="{% url 'home' %}">Clique Aqui</a></p>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <h4 class="login-credited">Projeto Cantina - 2025</h4>
{% endblock %}