{% extends 'base.html' %}

{% block title %}
    Cadastro - Projeto Cantina
{% endblock %}

{% block header %}
    <h1>Cadastro</h1>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <form method="POST" action="{% url 'usuario_cadastrar' %}">
            {% csrf_token %}
            <h2>Cadastro</h2>
            <div class="input-box">
                <span class="icon">
                    <i class="fa-solid fa-user"></i>
                </span>
                <input type="text" name="username" placeholder="Crie um usuário" required>
            </div>
            <div class="input-box">
                <span class="icon">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input type="password" name="password" placeholder="Crie uma senha" required>
            </div>
            <button type="submit">Cadastrar</button>
            <div class="register-link">
                <p>Já tem uma conta? <a href="{% url 'usuario_login' %}">Faça o login!</a></p>
                <p>Deseja voltar para a Página Inicial? <a href="{% url 'home' %}">Clique Aqui</a></p>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    Projeto Cantina - 2024
{% endblock %}