{% extends 'base.html' %}

{% block body_class %}
    painel-page-body
{% endblock %}

{% block title %}
    Painel do Aluno - Projeto Cantina
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="painel-container">
            <h2>Bem-vindo ao seu painel, Usuário!</h2>
            <p>O que você deseja fazer?</p>
            <div class="painel-buttons">
                <a href="{% url 'usuario_perfil' %}" class="btn-animated">Visualizar Perfil</a>
                <a href="{% url 'criar_pedido' %}" class="btn-animated">Ver Cardápio</a>
                <a href="{% url 'listar_pedidos' %}" class="btn-animated">Ver Carrinho</a>
                <a href="{% url 'historico_pedidos' %}" class="btn-animated">Histórico</a>
                <a href="{% url 'logout_usuario' %}" class="btn-animated">Logout</a>
            </div>
    </div>
{% endblock %}




{% block footer %}
    <h4 class="painel-credited">Projeto Cantina - 2025</h4>
{% endblock %}