{% extends 'base.html' %}

{% block title %}
    Projeto Cantina
{% endblock %}

{% block header %}
    <h1 class="home-title">Home</h1>
{% endblock %}

{% block content %}
    <h1 class="descrition-home"> Projeto Cantina - Bem-vindo!
        <p>Este é o sistema de gerenciamento da cantina.</p>
        <p>Aqui você pode gerenciar produtos, pedidos e muito mais.</p>
    </h1>
    <div class="home-actions">
        <a href="{% url 'usuario_login' %}" class="btn-animated">Login</a>
        <a href="{% url 'usuario_cadastrar' %}" class="btn-animated">Cadastrar-se</a>

        
    </div>
{% endblock %}

{% block footer %}
    <h4 class="credited">Projeto Cantina - 2025</h4>
{% endblock %}