{% extends 'base.html' %}

{% block body_class %}
    cart-page-body
{% endblock %}

{% block title %}
    Carrinho de Compras - Projeto Cantina
{% endblock %}

{% block content %}
    <div class="carrinho-container">
        <h1>Carrinho</h1>
        <div class="product-list">
            <div class="product-item">
                <span>Produto n.1</span>
                <span>R$ 10,00</span>
                <i class="fa fa-trash"></i>
            </div>
            <div class="product-item">
                <span>Produto n.2</span>
                <span>R$ 20,00</span>
                <i class="fa fa-trash"></i>
            </div>
            <div class="product-item">
                <span>Produto n.3</span>
                <span>R$ 15,00</span>
                <i class="fa fa-trash"></i>
            </div>
        </div>
        <div class="total-value">
            Valor Total: R$ 45,00
        </div>
        <div class="carrinho-buttons">
            <button>Finalizar pedido</button>
        </div>        
    </div>
{% endblock %}

{% block footer %}
    <h4 class="painel-credited">Projeto Cantina - 2025</h4>
{% endblock %}